 .hknorhår{
    animation: grader 3s infinite;
    transform-origin: 325px 350px;
}


@keyframes grader{
    5{
        transform: rotateY(10deg) rotateX(10deg);
    }
    10{
        transform: rotateY(25deg) rotateX(10deg);
    }
    15{
        transform: rotateY(-10deg) rotateX(-10deg);
    }
    20{
        transform: rotateY(-10deg) rotateX(-16deg);
    }
}